{% extends "master.html" %}

{% block content %}
<div class="ui main container">
	<div class="ui grid">

		<!-- BLANK ROWS -->
		<div class="sixteen wide column"></div>
		<div class="fourteen wide column"></div>
		<div class="two wide column">
			<a class="ui button" href="{{ url_for('uploadspider_bp.upload_spider_form') }}">Upload</a>
		</div>
		<!--/ BLANK ROWS -->

		<!-- SCRAPER LIST  -->
		<div class="sixteen wide column">
			<table class="ui sortable celled table">
			  <thead>
			    <tr>
			      <th class="eleven wide">Scraper</th>
			      <th class="one wide"></th>
			      <th class="one wide"></th>
			      <th class="one wide"></th>
			      <th class="one wide"></th>
			      <th class="one wide"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for item in spiders %}
			    <tr>
			      <td>{{ item.description }}</td>
			      <td><a href="/run/{{ item.name }}" class="ui button blue">Run</a></td>
			      <td><a href="/log/{{ item.name }}" class="ui button blue">Log</a></td>
			      <td><a href="/json/{{ item.name }}" class="ui button blue">JSON</a></td>
			      <td><a href="/csv/{{ item.name }}" class="ui button blue">CSV</a></td>
			      <td><a href="/delete/{{ item.name }}" class="ui button red">Delete</a></td>
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		</div>
		<!--/ SCRAPER LIST  -->

	</div>
</div>
{% endblock %}
